textarea.flypanel {
  border-radius: 5px;
  border-size: 0px;
  font-size: 1.25em;
  padding: 0px;
  border: none;
}

button.flypanel {
  height: 40px;
  border-color: #3C99DB;
  background-color: #3C99DB;
  font-size: 1.25em;
  color: white;
  border-radius: 5px;
}
