div.panel {
  background-color: #3D436F;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.panel-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 20px auto 0px auto;
  width: calc(100% - 40px);
}

h2.panel-title {
  margin: 0 20px;
}

div.panel-body {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 40px);
}

.panel-child {
  margin: 20px auto 0px auto;
  width: 100%;
}
