div.flypanel {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 40px);
}

textarea.flypanel {
  border-radius: 5px;
  border-size: 0px;
  font-size: 1.25em;
  padding: 0px;
  border: none;
}

button.flypanel {
  height: 40px;
  border-color: #3C99DB;
  background-color: #3C99DB;
  font-size: 1.25em;
  color: white;
  border-radius: 5px;
}

img.avatar {
  border-radius: 50%;
  width: 20%;
}

div.avatar {
  display: flex;
  flex-direction: row;
}

div.avatar-name {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
