div.panel {
  background-color: #3D436F;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.panel-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 20px auto 20px auto;
  width: 80%;
  min-height: 67px;
}

h2.panel-title {
  margin-left: 20px;
}
