div.panel {
  background-color: #3D436F;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.panel-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 20px auto 0px auto;
  width: 80%;
}

h2.panel-title {
  margin: 0 20px;
}

.panel-child {
  margin: 20px auto 0px auto;
  width: 100%;
}
